section {
  height: calc(100vh - 60px);
}
.customLabel {
  font-size: 12px;
}
.customBloco {
  flex-direction: column;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  color: #513928;
}
.tableContainer {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
}
.table th {
  background-color: #95b96b;
  padding: 12px;
  text-align: center;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 400;
  color: #f9f9f9;
}
.table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  font-family: "Poppins";
  font-size: 13px;
}
.iconButton {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconButton img {
  width: 20px;
  height: 20px;
}
.emptyRow {
  text-align: center;
  padding: 16px;
  color: #666;
}
.totais {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
