.button {
  padding: 12px 28px;
  background-color: #95b96b; /* azul padrão */
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Poppins", sans-serif;
}

.button:hover {
  background-color: #6d8a4c;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
