.button {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.default {
  background-color: #95b96b;
}

.default:hover {
  background-color: #6d8a4c;
}

.red {
  background-color: #d9534f;
}

.red:hover {
  background-color: #b93d39;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
