div {
  margin: 0;
}
h1 {
  font-size: 36px;
  color: #222222;
}
h3 {
  font-size: 18px;
  color: #333333;
}
hr {
  border: none;
  height: 1px;
  background-color: #353535;
  margin: 8px;
}
.inputs {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
}
.input {
  padding-right: 12px;
  margin: 0;
}
.errorMessage {
  width: auto !important;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;
  background-color: #ffe6e6;
  color: #b00020;
  border: 1px solid #b00020;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.autocompleteWrapper {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.autocomplete {
  margin: 0 !important;
  padding: 0 !important;
}

.lista {
  position: absolute;
  width: 40% !important;
  background: white;
  border: 1px solid #ccc;
  transform: translateY(120%);
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.itemLista {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.itemLista:hover {
  background-color: #f2f2f2;
}
