.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.label {
  font-weight: 700;
  margin-bottom: 4px;
  font-family: "Poppins";
  font-size: 16px;
  color: #333;
}

.inputField {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.inputField:focus {
  border-color: #007bff;
}
