section {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section div {
  display: flex;
  flex-direction: column;
}
form {
  width: 100%;
  max-width: 500px;
}
.logo {
  width: 320px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.forgotPassword {
  width: 100%;
}
.forgotPassword a {
  text-align: right;
  font-size: 14px;
  padding-bottom: 16px;
  color: #9e9585;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
  font-family: "Poppins", sans-serif;
  padding-top: 6px;
}
.errorMessage {
  width: auto !important;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;
  background-color: #ffe6e6;
  color: #b00020;
  border: 1px solid #b00020;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
